/**
 * _home.scss
 */

#lab-intro {
	position: relative;

	.container {
		display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
	}

	.lead {
		max-width: 500px;
	}
}