/**
 * _people.scss
 */

.person {
	.card-header {
	  background-color: $blue;
	  position: relative;
	  height: 50px;

	  .img {
	    filter: grayscale(100%); 
      mix-blend-mode: darken;
      
      height: 120px;
      width: 120px;
      background-size: cover;
	    background-position: center;
	    border-radius: 100%;
	    position: absolute;
	    margin-left: 0px;
  	  margin-top: -50px;
	  }
	}
}

.collaborators .person {
	.card-header {
		background: $yellow;
	}
}

.person.former-member {
	.card-header {
		background: transparent;
	}
	
	.period {
		color: $blue;
	}
}