/**
 * _responsive.scss
 */

@media (min-width: 992px){
	#sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
	}
}

// Extra small devices (portrait phones, less than 576px)


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.display-1 {
		font-size: 4rem !important;
	}
	.references ol {
		column-count: 1
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.navbar .clc-mark {
		position: relative;
		padding: 0 !important;
		left: 0;
	}
}

@media (max-width: 575.98px) {
	.navbar .clc-mark svg {
		height: 2.5em;
		margin-left: -1.5em;
	}

	.blog p.intro {
		font-size: 1.25rem;
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.navbar .clc-mark svg {
		height: 3.5em;
		margin-left: -.5em;
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}