---
layout: default
title: Home
---

<div class="lab-intro">
	<div class="container">
		<div class="offset-lg-3 clc-name display-4 mt-5">
      cognition, language<br />
      and computation lab
    </div>
		<div class="offset-lg-3 py-5 lead">
			<p class="mb-4">
				We try to understand the computational principles underlying natural 
				language understanding by humans and machines. We investigate the 
				neural implementation of these principles in the human brain, 
				their evolutionary origins and their usefulness in language technology.
			</p>
			<a href="{{ site.baseurl }}/research.html" class="btn btn-outline-primary">
				Our research
				<span class="oi oi-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="clc-pattern bg-div">
			{% include pattern.svg %}
		</div>
	</div>
</div>

<div class="container py-5">
	<div class="row">
		
		<div class="offset-lg-3 col-lg-9">
			<h3 class="mb-4">news</h3>
			<div class="row row-cols-1 row-cols-sm-2">
				{%- assign newsItems = site.data.news | sort: "date" | reverse %}
				{%- for item in newsItems limit: 6 %}
				<div class="col mb-3">
					<time datetime="{{ item.date | date: '%Y-%m-%d' }}" class="fw-bold">
						{{- item.date | date: "%-d %b '%y" -}}.
					</time>
					{{ item.text | markdownify | replace: "<p>", "" | replace: "</p>", "" | strip -}}
				</div>
				{%- endfor %}
			</div>
			<a href="{{ site.baseurl }}/research.html" class="btn btn-outline-primary">
				All news
				<span class="oi oi-chevron-right" aria-hidden="true"></span>
			</a>
		
			<!-- {% assign posts = site.posts | where:"categories","news" %}
			
			{% for post in posts %}
				<article class="mb-2 pb-2">
						<p class="p-0 m-0">{{ post.title }}</p>
						<div>
							{% if post.type %}
								{% comment %}
									Badges don't work after migrating to bootstrap v5. 
									Setting bg and text color is a silly workaround
								{% endcomment %}
								<span class="badge badge-secondary bg-secondary text-dark">{{ post.type }}</span>
							{% endif %}
							{% if post.date %}
							<span class="badge badge-light bg-light text-dark">{{ post.date | date: '%d %b' }}</span>
							{% endif %}
							<a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-link btn-sm">Read more...</a>
						</div>
				</article>
			{% endfor %}
			<a href="{{ site.baseurl }}/updates.html" class="btn btn-outline-secondary mt-2">
				Older updates
				<span class="oi oi-chevron-right" aria-hidden="true"></span>
			</a> -->
		</div>
	</div>
	
</div>

<div class="lab-intro">
	<div class="container">
		<div class="offset-lg-3 clc-name display-4 my-5">
			blogposts
			<a href="{{ site.baseurl }}/blog.html" class="btn btn-outline-secondary">
				view all
				<span class="oi oi-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="clc-pattern bg-div dark">
			{% include pattern.svg %}
		</div>
	</div>
</div>
	
	
<div class="container py-5 blog-overview">
		<div class="row">
			{% assign posts = site.posts | where:"categories","blog" | limit: 1 %}     
			{% include blogposts.html posts=posts %}
		</div>	
	</div>	


