---
layout: default
title: People
---

<div class="container">
  <div class="row">

    <header class="col-lg-9 offset-lg-3 my-5">
      <h1 class="display-1 my-5">People</h1>
    </header>

    <section class="col-lg-9 offset-lg-3 p-0 mb-5">
      <div class="row row-cols-1 row-cols-sm-2">
        {%- assign members = site.data.people | where:"type","current" %}
        {%- for member in members %}
        <div class="col">
          {% include person.html person=member %}
        </div>
        {%- endfor %}
      </div>
    </section>
    
    <section class="col-lg-9 offset-lg-3 p-0 mb-5 collaborators">	
      <h2>Frequent collaborators</h2>

      <div class="row row-cols-1 row-cols-sm-2">
        {%- assign collaborators = site.data.people | where:"type","collaborator" %}
        {%- for member in collaborators %}
        <div class="col">
          {% include person.html person=member %}
        </div>
        {%- endfor %}
      </div>
    </section>

    <section class="col-lg-9 offset-lg-3 p-0 my-5">	
      <h2>Former members</h2>

      <div class="row">
        <div class="accordion col-md-6 col-sm-12" id="accordion-1">
          {%- assign former_members = site.data.people | where:"type","former" %}
          {%- assign num_former_members = former_members | size %}
          {%- assign split_index = num_former_members | divided_by: 2 | ceil %}

          {%- for member in former_members %}
            {%- if forloop.index0 == split_index %}
              </div>
              <div class="accordion col-md-6 col-sm-12" id="accordion-2">
            {%- endif %}

            {%- if forloop.index0 < split_index %}
              {% include former-member.html person=member parent="accordion-1" %}
            {%- else %}
              {% include former-member.html person=member parent="accordion-2" %}
            {%- endif %}
          {%- endfor %}
        </div>
      </div>
    </section>

  </div>
</div>
    