---
---

{% if entry.type == 'article' %}
  {% assign publication = entry.journal %}
{% else if entry.type == 'inproceedings' or entry.type == 'incollection' %}
  {% assign publication = entry.booktitle %}
{% else if entry.type == 'phdthesis' %}
  {% assign publication = entry.title %}
{% endif %}

{% if publication == '' %}
  {% assign publication = 'zzz' %}
{% endif %}

<div id="bib-item-{{ entry.key }}" class="bib-entry my-3" 
  data-searchable
  data-year="{{ entry.year }}"
  data-title="{{ entry.title }}"
  data-author="{{ entry.author }}"
  data-publication="{{ publication }}">
  {{ reference }}
  
  <div>
    {% if entry.doi %}
      <a class="badge badge-pill badge-secondary" href="https://doi.org/{{ entry.doi }}">DOI</a>
    {% endif %}

    {% if entry.file %}
      <a class="badge badge-pill badge-secondary" href="{{ site_url }}/media/pdfs/{{ entry.file }}" target="_blank">PDF</a>
    {% endif %}

    {% if entry.arxivid %} 
      <a class="badge badge-pill badge-secondary" href="https://arxiv.org/abs/{{ entry.arxivid }}" target="_blank">arXiv</a>
    {% endif %}
    
    <a href="#" class="badge badge-pill badge-secondary" data-toggle="modal" data-target="#bibtexmodal-{{ entry.key }}">
      BibTeX
    </a>

    {% if entry.clctags %}
      {% assign rawtags = entry.clctags %}
      {% assign tags = rawtags | split: "," %}
      {% for tag in tags %}
        <a href="#" class="badge badge-pill badge-light">
          {{ tag }}
        </a>
      {% endfor %}
    {% endif %}
  </div>
  
  <div class="modal fade" id="bibtexmodal-{{ entry.key }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ entry.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre>{{ entry.bibtex }}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
