
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono|Source+Sans+Pro");
$font-family-sans-serif: "PT Serif";//"Source Sans Pro";
// $font-family-sans: "PT Serif";//"Source Sans Pro";
$font-family-monospace: "Ubuntu Mono";

$blue: #00b49d;
$yellow: #fdf499;
$secondary: $yellow;
$gray-900: #004b44;
$black: $gray-900;
$gray-100: #fbfcf2;
$enable-rounded: false;

*[class^="display-"],
h1, h2, h3, h4, h5, h6,
.card-footer { 
	font-family: $font-family-monospace !important;
}

.display-1 {
	color: $blue;
	line-height: .75em !important;
}

h2 {
	margin-top: 2em;
}

::selection { 
	color: $gray-900;
	background-color: $blue;
}

.clc-mark {
	background: $yellow;
	text-align: center;

	svg {
		path {
			fill: $gray-900;
		}
	}

	.clc-name {
		font-family: $font-family-monospace;
		color: $gray-900;
		line-height: 1;
	}
}


@media (min-width: 992px){
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}


.btn,
.badge {
	font-family: $font-family-monospace;
}



.person {
	// font-family: $font-family-monospace;
	.card-header {
	  background-color: $blue;
	  position: relative;
	  height: 50px;

	  .img {
	    filter: grayscale(100%); 
      mix-blend-mode: darken;
      
      height: 120px;
      width: 120px;
      background-size: cover;
	    background-position: center;
	    border-radius: 100%;
	    position: absolute;
	    margin-left: 0px;
  	  margin-top: -50px;
	  }
	}
}

.person.former-member .card-header {
	background: transparent;
}

.former-member {
	.period {
		color: $blue;
	}
}

.card-underline,
.card-underline.border-0 {
	border-bottom: 5px solid $blue!important;
}

.bibliography {
	padding-left: 0;
	li {
		list-style: none;
	}
}

.container.page {

}

.oi.hidden {
	visibility: hidden;
}

.btn .oi {
	margin-left: .2em;
	font-size: .8em;
}

.bib-entry.hidden {
	display: none;
}

#search-pubs {
	font-family: $font-family-monospace;
	color: $blue;
	border-color: $blue;
}