---
layout: default
---

<div id="lab-intro">
	<div class="container">
		<div class="offset-lg-3 clc-name display-4 mt-5">
      cognition, language<br />
      and computation lab
    </div>
		<div class="offset-lg-3 py-5 lead">
			<p class="mb-4">How do we reconcile observations about the uniqueness of language with those about the biological continuity of the underlying neural and genetic mechanisms? In our research we face this challenge head-on.</p>

			<a href="{{ site.url }}/research.html" class="btn btn-outline-primary">
				Our research
				<span class="oi oi-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="clc-pattern bg-div">
			{% include pattern.svg %}
		</div>
	</div>
</div>

<div class="container py-5">
	<div class="row">
		
		<div class="offset-lg-3 col-lg-5">
			<h3 class="mb-2">updates</h3>
			{% assign posts = site.posts | where:"categories","news" %}
			
			{% for post in posts %}
				<article class="mb-2 pb-2">
						<p class="p-0 m-0">{{ post.title }}</p>
						<div>
							{% if post.type %}
								<span class="badge badge-pill badge-secondary">{{ post.type }}</span>
							{% endif %}
							{% if post.date %}
							<span class="badge badge-pill badge-light">{{ post.date | date: '%d %b' }}</span>
							{% endif %}
							<a href="{{ post.url }}" class="btn btn-link btn-sm">Read more...</a>
						</div>
				</article>
			{% endfor %}
			<a href="{{ site.url }}/updates.html" class="btn btn-outline-secondary mt-2">
				Older updates
				<span class="oi oi-chevron-right" aria-hidden="true"></span>
			</a>
		</div>

		<div class="col-lg-4">
			<h3 class="mb-2">twitter</h3>

			todo
		</div>

	</div>
	
</div>
