---
layout: default
---


<div class="col-lg-9 offset-lg-3">
	<div class="container">
		<div class="row">
			<h1 class="display-1 my-5">People</h1>
		</div>

		<div class="row">			
			<!-- <h2 class="my-4">Current members</h2> -->
			
			{% assign members = site.data.people | where:"type","current" %}
			{% for member in members %}
			
				{% assign cardsPerRow = 2 %}
				{% assign cardsPerRowm1 = cardsPerRow | minus:1 %}
				{% assign indexMod2 = forloop.index0 | modulo:cardsPerRow %}
				{% if indexMod2 == 0 %}<div class="card-deck">{% endif %}
					
					{% include person.html person=member %}

			  {% if indexMod2 == cardsPerRowm1 %}</div>{% endif %}
			{% endfor %}

			{% if indexMod2 != cardsPerRow %}</div>{% endif %}
		</div>

		<div class="row">
			<h2 class="col-12">Frequent collaborators</h2>

			{% assign collaborators = site.data.people | where:"type","collaborator" %}
			{% for member in collaborators %}
		    {% include person.html person=member %}
			{% endfor %}
		</div>

		<div class="row mb-5">
			<h2 class="col-12">Former members</h2>
			<div class="accordion col-6" id="accordion-1">
				{% assign former_members = site.data.people | where:"type","former" %}

				{% assign num_former_members = former_members | size %}
				{% assign split_index = num_former_members | divided_by: 2 | ceil %}

				{% for member in former_members %}

					{% if forloop.index0 == split_index %}
						</div>
						<div class="accordion col-6" id="accordion-2">
					{% endif %}

					{% if forloop.index0 < split_index %}
			    	{% include former-member.html person=member parent="accordion-1" %}
			    {% else %}
			    	{% include former-member.html person=member parent="accordion-2" %}
			    {% endif %}

				{% endfor %}
			</div>
		</div>
	</div>
</div>
		