{%- assign posts = include.posts %}
{%- assign limit = include.limit | default: 100 -%}

{%- for post in posts limit: limit %}
<article class="mb-4 pb-4 blogpost border-bottom container">
  <div class="row">
    <div class="col-md-3 order-first">
      {%- if post.image %}
      <img class="figure" src="{{ post.image | relative_url }}" alt="{{ post.title | strip_html }}" />
      {%- else %}
      <div class="clc-pattern bg-div dark">
        {% include pattern.svg %}
      </div>
      {%- endif %}
    </div>
    <div class="col-md-5 order-md-3">
      <header>
        <h2 class="p-0 m-0"><a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        {%- if post.subtitle != '' %}
        <p class="subtitle">{{ post.subtitle }}</p>
        {%- endif %}
        <p class="author">{{ post.author }}</p>
      </header>
    </div>
    <div class="col-md-4 order-md-2">
      {{ post.excerpt -}}
      <a href="{{ post.url | relative_url }}" class="btn btn-outline-primary btn-sm">
        Read on...
        <span class="oi oi-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</article>
{%- endfor %}
