{% assign member = include.person %}
{% assign id = member.name | strip | replace: ' ', '-' | downcase %}

<div class="accordion-item card person former-member small border-0 bg-light my-1">
  <div class="accordion-header card-header border-0" id="heading-{{ id }}">
    <h5 class="card-title">
      <button class="accordion-button collapsed bg-light px-0" type="button"
        data-bs-toggle="collapse" 
        data-bs-target="#collapse-{{ id }}" 
        aria-expanded="false" 
        aria-controls="collapse-{{ id }}" >
          {{ member.name }}
          {% if member.startyear %}
          <span class="period small pt-1 ms-2">{{ member.startyear }}&ndash;{{ member.endyear }}</span>
          {% endif %}
      </button>
    </h5>
  </div>

  <div id="collapse-{{ id }}" class="collapse" 
    aria-labelledby="heading-{{ id }}" 
    data-bs-parent="#{{ include.parent }}">
    <div class="card-body accordion-body">
     {{ member.interests }}
    </div>

    <div class="card-footer bg-light text-white border-0 card-underline">
      {% if member.url %}
        <a href="{{ member.url }}" class="card-link">Website</a>
      {% endif %}
      {% if member.twitter %}
        <a href="https://twitter.com/{{ member.twitter }}" 
          target="_blank"
          class="card-link">@{{ member.twitter }}</a>
      {% endif %}
      {% if member.github %}
        <a href="https://github.com/{{ member.github }}" 
          target="_blank"
          class="card-link">GitHub</a>
      {% endif %}
    </div>
  </div>
</div>