<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{%- if page.fulltitle -%}
		{% assign pagetitle = page.fulltitle %}
	{% else if page.title %}
		{% assign pagetitle = page.title %}
	{% endif %}

	{%- if pagetitle == blank -%}
		{% assign pagetitle = site.title %}
	{% else %}
		{% assign pagetitle = pagetitle | append: " ‹ " | append: site.shorttitle %}
	{% endif %}

	{%- if page.categories contains "blog" -%}
		{% assign pagetitle = pagetitle | append: " blog" %}
	{% endif %}

	{%- if page.excerpt -%}
		{% assign description = page.excerpt | strip_html %}
	{% else %}
		{% assign description = site.tagline %}
	{% endif %}
	{% assign description = description | strip %}

	{%- if page.image -%}
		{% assign image = site.url | append: page.image %}
	{% else %}
		{% assign image = site.url | append: site.socialimg %}
	{% endif %}

	<!-- Plain Description -->
	<title>{{ pagetitle }}</title>
	<meta name="description" content="{{ description }}">
	<link rel="icon" type="image/png" href="/favicon.png">

	<!-- Google+ -->
	<meta itemprop="name" content="{{ pagetitle }}">
	<meta itemprop="description" content="{{ description }}">
	<meta itemprop="image" content="{{ image }}">

	<!-- Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ pagetitle }}" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:image" content="{{ image }}" />
	<meta property="og:url" content="{{site.url}}{{page.url}}" />
	<meta property="og:site_name" content="{{ site.title }} " />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ pagetitle }}">
	<meta name="twitter:description" content="{{ description }}">
	<meta name="twitter:image" content="{{ image }}">
	<meta name="twitter:url" content="{{site.url}}{{page.url}}">

	<!-- CSS & fonts -->
	<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/styles.css">
	<link rel="stylesheet" href="{{site.url}}/assets/iconic/css/open-iconic-bootstrap.css">
</head>