{% assign member = include.person %}

<div class="person card small border-0 bg-light my-5">
	{% if member.img %}
		<div class="card-header border-0">
			<div class="img" style="background-image: url({{ member.img }}"></div>
		</div>
	{% endif %}

	<div class="card-body">
		<h4 class="card-title mt-4 mb-3">{{ member.name }}</h4>
    <p class="card-text">{{ member.interests | markdownify }}</p>
  </div>

  <div class="card-footer bg-light text-white border-0 card-underline">
    {% if member.url %}
    	<a href="{{ member.url }}" class="card-link">Website</a>
    {% endif %}
    {% if member.twitter %}
    	<a href="https://twitter.com/{{ member.twitter }}" 
    		target="_blank"
    		class="card-link">@{{ member.twitter }}</a>
  	{% endif %}
    {% if member.github %}
    	<a href="https://github.com/{{ member.github }}" 
    		target="_blank"
    		class="card-link">GitHub</a>
  	{% endif %}
  	{% if member.email %}
    	<a href="mailto:{{ member.email }}" 
    		class="card-link">Mail</a>
  	{% endif %}
  </div>
</div>