/**
 * _variables.scss
 * Here you can overrride pretty much all of bootstrap,
 * see node_modules/bootstrap/scss/variables.scss
 */

// Fonts
$font-family-sans-serif: "PT Serif";
$font-family-sans: "PT Serif";
$font-family-monospace: "Ubuntu Mono";

// Colors
$blue: #00b49d;
$blue-dark: #008F7C;
$yellow: #fdf499;

$secondary: $yellow;
$gray-900: #004b44;
$black: $gray-900;
$gray-100: #fbfcf2;
$warning: $yellow;
$footer-color: transparentize($black, .5);


$link-color: $blue-dark;
// Fix this? low contrast
$min-contrast-ratio:   2.5;


// Other settings
$enable-rounded: false;

// $font-size-base: 1rem; // Assumes the browser default, typically `16px`
// $h1-font-size: $font-size-base * 1;
// $h2-font-size: $font-size-base * 1.5;
// $h3-font-size: $font-size-base * 1.25;
// $h4-font-size: $font-size-base * 1;
// $h5-font-size: $font-size-base * 1;

$display1-size: 5rem;
$display2-size: 3rem;
$display-line-height: .9;

$spacer: 1rem !default;