---
---
<div id="bib-item-{{ entry.key }}" class="bib-entry mb-4">
  <p class="text-muted small mb-0">
    {{ reference }}

    {% if entry.doi %}
      <a class="badge badge-pill bg-primary" href="https://doi.org/{{ entry.doi }}" target="_blank" title="{{ entry.title }}">DOI</a>
    {% endif %}

    {% if entry.file %}
      <a class="badge badge-pill bg-primary" href="{{ site.url }}/assets/pdfs/{{ entry.file }}" target="_blank">PDF</a>
    {% endif %}

    {% if entry.arxivid %} 
      <a class="badge badge-pill bg-primary" href="https://arxiv.org/abs/{{ entry.arxivid }}" target="_blank">arXiv</a>
    {% endif %}
  </p>
</div>
