---
layout: default
---

<article class="blog">
	<div class="lab-intro">
		<div class="container">
			<header class="offset-lg-3 pt-5 lead my-5">
				<p class="date">
					<time datetime="{{ page.date | date: '%Y-%m-%d' }}">
						{{- page.date | date: '%-d %B %Y' -}}
					</time>
				</p>
				<h1 class="display-1">{{ page.title }}</h1>
				<p class="subtitle">{{ page.subtitle }}</p>
				<p class="author mt-5"><span class="by">by</span> {{ page.author }}</p>
			</header>
			<div class="clc-pattern bg-div dark">
				{% include pattern.svg %}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-9  offset-lg-3 content">
				
				{{ content }}

				<footer>
					{%- if page.updated %}
					<p class="text-muted small">
						<time datetime="{{ page.updated | date: '%Y-%m-%d' }}" class="fw-bolder">
							Last updated on {{ page.updated | date: '%B %d, %Y' }}	
						</time>
					</p>
					{%- endif %}
				</footer>
			</div>
		</div>
	</div>
</article>