<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    <div class="navbar navbar-light navbar-expand-sm" id="to-top"> 
      <div class="container">

        <div class="clc-mark">
          <a href="{{ '/' | relative_url }}" title="clc lab home">{% include clc.svg %}</a>
        </div>

        <button class="navbar-toggler navbar-toggler-right ml-auto border-0" type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarResponsive" 
          aria-controls="navbarResponsive" 
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="navbar-nav offset-lg-3 align-items-center">
            {%- for item in site.data.menu %}
            <li class="nav-item">
              <a class="nav-link{% if item.url == page.url %} active{% endif %}" 
                href="{{ item.url | relative_url}}"
                {%- if item.url == page.url %} aria-current="page"{% endif %}>
                {{- item.label -}}
              </a>
            </li>
            {%- endfor %}
          </ul>
        </div>
      </div>
    </div>
   
    {{ content }}
    
    {% include footer.html %}

  </body>

</html>
