<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    <div class="navbar navbar-light navbar-expand-sm" id="to-top"> 
      <div class="container">

        <div class="clc-mark">
          <div>{% include clc.svg %}</div>
        </div>

        <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" 
          data-toggle="collapse" 
          data-target="#navbarResponsive" 
          aria-controls="navbarResponsive" 
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="navbar-nav offset-lg-3">
            <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ '/news.html' | relative_url }}">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/research.html">Research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/people.html">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/publications.html">Publications</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
    {{ content }}
    
    {% include footer.html %}

  </body>

</html>
